@charset "utf-8";

* {
	margin:0;
	padding:0;
}
body {
	background:#FFF no-repeat left top;
	font-family:"Josefin Sans", "YuMincho", serif;
    width: 100%;
    height: auto;
}
header{
    width: 100%;
    height:100vh;
    background: url(/img/bgfvs.jpg) center / cover no-repeat;
}
#step00{
    width: 100%;
    height:100vh;
}
#step01{
    width: 100%;
    height:100vh;
    background: url(/img/bg1s.jpg) center / cover no-repeat;
}
#step02{
    width: 100%;
    height:100vh;
    background: url(/img/bg2s.jpg) center / cover no-repeat;
}
#step03{
    width: 100%;
    height:100vh;
    background: url(/img/bg3s.jpg) center / cover no-repeat;
}
#step99{
    width: 100%;
    height:100vh;
}
#step{
    width: 100%;
    height:100vh;
    background: url(/img/bg4s.jpg) center / cover no-repeat;
}