@charset "utf-8";
/* 共通部分 */
* {
    margin: 0;
    padding: 0;
}

body {
    background: #FFF no-repeat left top;
    font-family: "Josefin Sans", "YuMincho", serif;
    width: 100vw;
    height: 100vh;
}

#fv {
    width: 100vw;
    height: 100vh;
    position: relative;
    background: url(/img/bgfv.jpg) center / cover no-repeat;
    background-color: rgba(255, 255, 255, 1);
    background-blend-mode: lighten;
    transition: background-color 1s;
}

#logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
}

#ame {
    width: 100%;
    position: absolute;
    top: 33%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
}
#soto{
    opacity: 0.5;
}

#step00 {
    opacity: 0;
    background-color: rgba(255, 255, 255, 1);
}

#step01 {
    opacity: 0;
    background-color: rgba(255, 255, 255, 1);
}

#step02 {
    opacity: 0;
    background-color: rgba(255, 255, 255, 1);
}

#step03 {
    opacity: 0;
    background-color: rgba(255, 255, 255, 1);
}

#step99 {
    opacity: 0;
    background-color: rgba(255, 255, 255, 1);
}

#step {
    opacity: 0;
    background-color: rgba(255, 255, 255, 1);
}

/* ぴーしー */
@media screen and (min-width:481px) {
    #logo{
        width: 100%;
    }
    #step00 {
    }

    #step01 {
        background: url(/img/bg1.jpg) center / cover no-repeat;
    }

    #step02 {
        background: url(/img/bg2.jpg) center / cover no-repeat;
    }

    #step03 {
        background: url(/img/bg3.jpg) center / cover no-repeat;
    }

    #step99 {
    }

    #step {
        background: url(/img/bg4.jpg) center / cover no-repeat;
    }

}

/* すまほ */
@media screen and (max-width:480px) {
    #logo{
        width: 150%;
    }
    #step00 {
    }
    #step01 {
        background: url(/img/bg1s.jpg) center / cover no-repeat;
    }

    #step02 {
        background: url(/img/bg2s.jpg) center / cover no-repeat;
    }

    #step03 {
        background: url(/img/bg3s.jpg) center / cover no-repeat;
    }

    #step99 {
    }

    #step {
        background: url(/img/bg4s.jpg) center / cover no-repeat;
    }
}

/*svg云々*/
.svg-elem-1 {
    -webkit-animation: animate-svg-fill-1 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.3s both;
    animation: animate-svg-fill-1 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.3s both;
}

@-webkit-keyframes animate-svg-fill-2 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

@keyframes animate-svg-fill-2 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

.svg-elem-2 {
    -webkit-animation: animate-svg-fill-2 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.32999999999999996s both;
    animation: animate-svg-fill-2 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.32999999999999996s both;
}

.svg-elem-3 {
    -webkit-animation: animate-svg-fill-3 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.36s both;
    animation: animate-svg-fill-3 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.36s both;
}

@-webkit-keyframes animate-svg-fill-4 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

@keyframes animate-svg-fill-4 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

.svg-elem-4 {
    -webkit-animation: animate-svg-fill-4 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.39s both;
    animation: animate-svg-fill-4 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.39s both;
}

.svg-elem-5 {
    -webkit-animation: animate-svg-fill-5 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.42s both;
    animation: animate-svg-fill-5 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.42s both;
}

@-webkit-keyframes animate-svg-fill-6 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

@keyframes animate-svg-fill-6 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

.svg-elem-6 {
    -webkit-animation: animate-svg-fill-6 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.44999999999999996s both;
    animation: animate-svg-fill-6 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.44999999999999996s both;
}

.svg-elem-7 {
    -webkit-animation: animate-svg-fill-7 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.48s both;
    animation: animate-svg-fill-7 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.48s both;
}

@-webkit-keyframes animate-svg-fill-8 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

@keyframes animate-svg-fill-8 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

.svg-elem-8 {
    -webkit-animation: animate-svg-fill-8 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.51s both;
    animation: animate-svg-fill-8 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.51s both;
}

.svg-elem-9 {
    -webkit-animation: animate-svg-fill-9 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.54s both;
    animation: animate-svg-fill-9 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.54s both;
}

@-webkit-keyframes animate-svg-fill-10 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

@keyframes animate-svg-fill-10 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

.svg-elem-10 {
    -webkit-animation: animate-svg-fill-10 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.5700000000000001s both;
    animation: animate-svg-fill-10 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.5700000000000001s both;
}

.svg-elem-11 {
    -webkit-animation: animate-svg-fill-11 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.6s both;
    animation: animate-svg-fill-11 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.6s both;
}

@-webkit-keyframes animate-svg-fill-12 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

@keyframes animate-svg-fill-12 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

.svg-elem-12 {
    -webkit-animation: animate-svg-fill-12 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.6299999999999999s both;
    animation: animate-svg-fill-12 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.6299999999999999s both;
}

.svg-elem-13 {
    -webkit-animation: animate-svg-fill-13 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.6599999999999999s both;
    animation: animate-svg-fill-13 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.6599999999999999s both;
}

@-webkit-keyframes animate-svg-fill-14 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

@keyframes animate-svg-fill-14 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

.svg-elem-14 {
    -webkit-animation: animate-svg-fill-14 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.69s both;
    animation: animate-svg-fill-14 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.69s both;
}

.svg-elem-15 {
    -webkit-animation: animate-svg-fill-15 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.72s both;
    animation: animate-svg-fill-15 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.72s both;
}

@-webkit-keyframes animate-svg-fill-16 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

@keyframes animate-svg-fill-16 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

.svg-elem-16 {
    -webkit-animation: animate-svg-fill-16 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.75s both;
    animation: animate-svg-fill-16 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.75s both;
}

.svg-elem-17 {
    -webkit-animation: animate-svg-fill-17 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.78s both;
    animation: animate-svg-fill-17 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.78s both;
}

@-webkit-keyframes animate-svg-fill-18 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

@keyframes animate-svg-fill-18 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

.svg-elem-18 {
    -webkit-animation: animate-svg-fill-18 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.81s both;
    animation: animate-svg-fill-18 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.81s both;
}

.svg-elem-19 {
    -webkit-animation: animate-svg-fill-19 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8400000000000001s both;
    animation: animate-svg-fill-19 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8400000000000001s both;
}

@-webkit-keyframes animate-svg-fill-20 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

@keyframes animate-svg-fill-20 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

.svg-elem-20 {
    -webkit-animation: animate-svg-fill-20 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8699999999999999s both;
    animation: animate-svg-fill-20 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8699999999999999s both;
}

@-webkit-keyframes animate-svg-fill-21 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

@keyframes animate-svg-fill-21 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

.svg-elem-21 {
    -webkit-animation: animate-svg-fill-21 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8999999999999999s both;
    animation: animate-svg-fill-21 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8999999999999999s both;
}

@-webkit-keyframes animate-svg-fill-22 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

@keyframes animate-svg-fill-22 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

.svg-elem-22 {
    -webkit-animation: animate-svg-fill-22 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9299999999999999s both;
    animation: animate-svg-fill-22 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9299999999999999s both;
}

@-webkit-keyframes animate-svg-fill-23 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

@keyframes animate-svg-fill-23 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

.svg-elem-23 {
    -webkit-animation: animate-svg-fill-23 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.96s both;
    animation: animate-svg-fill-23 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.96s both;
}

@-webkit-keyframes animate-svg-fill-24 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

@keyframes animate-svg-fill-24 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

.svg-elem-24 {
    -webkit-animation: animate-svg-fill-24 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.99s both;
    animation: animate-svg-fill-24 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.99s both;
}

.svg-elem-25 {
    -webkit-animation: animate-svg-fill-25 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.02s both;
    animation: animate-svg-fill-25 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.02s both;
}

@-webkit-keyframes animate-svg-fill-26 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

@keyframes animate-svg-fill-26 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

.svg-elem-26 {
    -webkit-animation: animate-svg-fill-26 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.05s both;
    animation: animate-svg-fill-26 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.05s both;
}

.svg-elem-27 {
    -webkit-animation: animate-svg-fill-27 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.08s both;
    animation: animate-svg-fill-27 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.08s both;
}

@-webkit-keyframes animate-svg-fill-28 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

@keyframes animate-svg-fill-28 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

.svg-elem-28 {
    -webkit-animation: animate-svg-fill-28 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.1099999999999999s both;
    animation: animate-svg-fill-28 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.1099999999999999s both;
}

.svg-elem-29 {
    -webkit-animation: animate-svg-fill-29 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.14s both;
    animation: animate-svg-fill-29 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.14s both;
}

@-webkit-keyframes animate-svg-fill-30 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

@keyframes animate-svg-fill-30 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

.svg-elem-30 {
    -webkit-animation: animate-svg-fill-30 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.17s both;
    animation: animate-svg-fill-30 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.17s both;
}

.svg-elem-31 {
    -webkit-animation: animate-svg-fill-31 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.2s both;
    animation: animate-svg-fill-31 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.2s both;
}

@-webkit-keyframes animate-svg-fill-32 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

@keyframes animate-svg-fill-32 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

.svg-elem-32 {
    -webkit-animation: animate-svg-fill-32 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.23s both;
    animation: animate-svg-fill-32 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.23s both;
}

@-webkit-keyframes animate-svg-fill-33 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

@keyframes animate-svg-fill-33 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

.svg-elem-33 {
    -webkit-animation: animate-svg-fill-33 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.26s both;
    animation: animate-svg-fill-33 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.26s both;
}

@-webkit-keyframes animate-svg-fill-34 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

@keyframes animate-svg-fill-34 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

.svg-elem-34 {
    -webkit-animation: animate-svg-fill-34 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.29s both;
    animation: animate-svg-fill-34 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.29s both;
}

@-webkit-keyframes animate-svg-fill-35 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

@keyframes animate-svg-fill-35 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

.svg-elem-35 {
    -webkit-animation: animate-svg-fill-35 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.32s both;
    animation: animate-svg-fill-35 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.32s both;
}

@-webkit-keyframes animate-svg-fill-36 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

@keyframes animate-svg-fill-36 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

.svg-elem-36 {
    -webkit-animation: animate-svg-fill-36 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.35s both;
    animation: animate-svg-fill-36 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.35s both;
}

@-webkit-keyframes animate-svg-fill-37 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(253, 255, 0);
    }
}

@keyframes animate-svg-fill-37 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(253, 255, 0);
    }
}

.svg-elem-37 {
    -webkit-animation: animate-svg-fill-37 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.3800000000000001s both;
    animation: animate-svg-fill-37 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.3800000000000001s both;
}

@-webkit-keyframes animate-svg-fill-38 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

@keyframes animate-svg-fill-38 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

.svg-elem-38 {
    -webkit-animation: animate-svg-fill-38 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.41s both;
    animation: animate-svg-fill-38 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.41s both;
}

@-webkit-keyframes animate-svg-fill-39 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

@keyframes animate-svg-fill-39 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

.svg-elem-39 {
    -webkit-animation: animate-svg-fill-39 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.44s both;
    animation: animate-svg-fill-39 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.44s both;
}

@-webkit-keyframes animate-svg-fill-40 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

@keyframes animate-svg-fill-40 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

.svg-elem-40 {
    -webkit-animation: animate-svg-fill-40 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.47s both;
    animation: animate-svg-fill-40 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.47s both;
}

@-webkit-keyframes animate-svg-fill-41 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

@keyframes animate-svg-fill-41 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

.svg-elem-41 {
    -webkit-animation: animate-svg-fill-41 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s both;
    animation: animate-svg-fill-41 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s both;
}

@-webkit-keyframes animate-svg-fill-42 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

@keyframes animate-svg-fill-42 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

.svg-elem-42 {
    -webkit-animation: animate-svg-fill-42 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.53s both;
    animation: animate-svg-fill-42 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.53s both;
}

@-webkit-keyframes animate-svg-fill-43 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

@keyframes animate-svg-fill-43 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

.svg-elem-43 {
    -webkit-animation: animate-svg-fill-43 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.56s both;
    animation: animate-svg-fill-43 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.56s both;
}

@-webkit-keyframes animate-svg-fill-44 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

@keyframes animate-svg-fill-44 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

.svg-elem-44 {
    -webkit-animation: animate-svg-fill-44 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.59s both;
    animation: animate-svg-fill-44 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.59s both;
}

.svg-elem-45 {
    -webkit-animation: animate-svg-fill-45 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.6199999999999999s both;
    animation: animate-svg-fill-45 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.6199999999999999s both;
}

.svg-elem-46 {
    -webkit-animation: animate-svg-fill-46 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.65s both;
    animation: animate-svg-fill-46 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.65s both;
}

@-webkit-keyframes animate-svg-fill-46 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

@keyframes animate-svg-fill-46 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

.svg-elem-47 {
    -webkit-animation: animate-svg-fill-47 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.88s both;
    animation: animate-svg-fill-47 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.68s both;
}

.svg-elem-48 {
    -webkit-animation: animate-svg-fill-48 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.88s both;
    animation: animate-svg-fill-48 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.88s both;
}

@-webkit-keyframes animate-svg-fill-48 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

@keyframes animate-svg-fill-48 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

.svg-elem-49 {
    -webkit-animation: animate-svg-fill-49 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.80s both;
    animation: animate-svg-fill-49 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.80s both;
}


.svg-elem-50 {
    -webkit-animation: animate-svg-fill-50 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.80s both;
    animation: animate-svg-fill-50 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.80s both;
}

@-webkit-keyframes animate-svg-fill-50 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

@keyframes animate-svg-fill-50 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

.svg-elem-51 {
    -webkit-animation: animate-svg-fill-51 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.74s both;
    animation: animate-svg-fill-51 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.74s both;
}


.svg-elem-52 {
    -webkit-animation: animate-svg-fill-48 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.74s both;
    animation: animate-svg-fill-48 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.74s both;
}

@-webkit-keyframes animate-svg-fill-52 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

@keyframes animate-svg-fill-52 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

.svg-elem-53 {
    -webkit-animation: animate-svg-fill-53 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2s both;
    animation: animate-svg-fill-48 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2s both;
}

.svg-elem-54 {
    -webkit-animation: animate-svg-fill-54 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2s both;
    animation: animate-svg-fill-54 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2s both;
}

@-webkit-keyframes animate-svg-fill-54 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

@keyframes animate-svg-fill-54 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

.svg-elem-55 {
    -webkit-animation: animate-svg-fill-55 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.80s both;
    animation: animate-svg-fill-55 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.74s both;
}

.svg-elem-56 {
    -webkit-animation: animate-svg-fill-56 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.80s both;
    animation: animate-svg-fill-56 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.83s both;
}

@-webkit-keyframes animate-svg-fill-56 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

@keyframes animate-svg-fill-56 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

.svg-elem-57 {
    -webkit-animation: animate-svg-fill-57 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.98s both;
    animation: animate-svg-fill-57 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.98s both;
}

.svg-elem-58 {
    -webkit-animation: animate-svg-fill-58 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.98s both;
    animation: animate-svg-fill-58 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.98s both;
}

@-webkit-keyframes animate-svg-fill-58 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

@keyframes animate-svg-fill-58 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

.svg-elem-58 {
    -webkit-animation: animate-svg-fill-58 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.01s both;
    animation: animate-svg-fill-58 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.01s both;
}

.svg-elem-59 {
    -webkit-animation: animate-svg-fill-59 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.04s both;
    animation: animate-svg-fill-59 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.04s both;
}

@-webkit-keyframes animate-svg-fill-60 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

@keyframes animate-svg-fill-60 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

.svg-elem-60 {
    -webkit-animation: animate-svg-fill-60 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.07s both;
    animation: animate-svg-fill-60 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.07s both;
}

.svg-elem-61 {
    -webkit-animation: animate-svg-fill-61 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.0999999999999996s both;
    animation: animate-svg-fill-61 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.0999999999999996s both;
}

@-webkit-keyframes animate-svg-fill-62 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

@keyframes animate-svg-fill-62 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

.svg-elem-62 {
    -webkit-animation: animate-svg-fill-62 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.13s both;
    animation: animate-svg-fill-62 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.13s both;
}

.svg-elem-63 {
    -webkit-animation: animate-svg-fill-63 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.1599999999999997s both;
    animation: animate-svg-fill-63 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.1599999999999997s both;
}

@-webkit-keyframes animate-svg-fill-64 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

@keyframes animate-svg-fill-64 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

.svg-elem-64 {
    -webkit-animation: animate-svg-fill-64 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.19s both;
    animation: animate-svg-fill-64 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.19s both;
}

.svg-elem-65 {
    -webkit-animation: animate-svg-fill-65 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.2199999999999998s both;
    animation: animate-svg-fill-65 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.2199999999999998s both;
}

@-webkit-keyframes animate-svg-fill-66 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

@keyframes animate-svg-fill-66 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

.svg-elem-66 {
    -webkit-animation: animate-svg-fill-66 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.25s both;
    animation: animate-svg-fill-66 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.25s both;
}

.svg-elem-67 {
    -webkit-animation: animate-svg-fill-67 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.28s both;
    animation: animate-svg-fill-67 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.28s both;
}

@-webkit-keyframes animate-svg-fill-68 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

@keyframes animate-svg-fill-68 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

.svg-elem-68 {
    -webkit-animation: animate-svg-fill-68 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.3099999999999996s both;
    animation: animate-svg-fill-68 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.3099999999999996s both;
}

.svg-elem-69 {
    -webkit-animation: animate-svg-fill-69 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.34s both;
    animation: animate-svg-fill-69 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.34s both;
}

@-webkit-keyframes animate-svg-fill-70 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

@keyframes animate-svg-fill-70 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

.svg-elem-70 {
    -webkit-animation: animate-svg-fill-70 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.3699999999999997s both;
    animation: animate-svg-fill-70 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.3699999999999997s both;
}

.svg-elem-71 {
    -webkit-animation: animate-svg-fill-71 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.4s both;
    animation: animate-svg-fill-71 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.4s both;
}

@-webkit-keyframes animate-svg-fill-72 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

@keyframes animate-svg-fill-72 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

.svg-elem-72 {
    -webkit-animation: animate-svg-fill-72 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.4299999999999997s both;
    animation: animate-svg-fill-72 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.4299999999999997s both;
}

.svg-elem-73 {
    -webkit-animation: animate-svg-fill-73 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.46s both;
    animation: animate-svg-fill-73 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.46s both;
}

@-webkit-keyframes animate-svg-fill-74 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

@keyframes animate-svg-fill-74 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

.svg-elem-74 {
    -webkit-animation: animate-svg-fill-74 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.4899999999999998s both;
    animation: animate-svg-fill-74 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.4899999999999998s both;
}

.svg-elem-75 {
    -webkit-animation: animate-svg-fill-75 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.5199999999999996s both;
    animation: animate-svg-fill-75 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.5199999999999996s both;
}

@-webkit-keyframes animate-svg-fill-76 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

@keyframes animate-svg-fill-76 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

.svg-elem-76 {
    -webkit-animation: animate-svg-fill-76 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.55s both;
    animation: animate-svg-fill-76 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.55s both;
}

.svg-elem-77 {
    -webkit-animation: animate-svg-fill-77 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.5799999999999996s both;
    animation: animate-svg-fill-77 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.5799999999999996s both;
}

@-webkit-keyframes animate-svg-fill-78 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

@keyframes animate-svg-fill-78 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

.svg-elem-78 {
    -webkit-animation: animate-svg-fill-78 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.61s both;
    animation: animate-svg-fill-78 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.61s both;
}

@-webkit-keyframes animate-svg-fill-79 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

@keyframes animate-svg-fill-79 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

.svg-elem-79 {
    -webkit-animation: animate-svg-fill-79 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.6399999999999997s both;
    animation: animate-svg-fill-79 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.6399999999999997s both;
}

@-webkit-keyframes animate-svg-fill-80 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

@keyframes animate-svg-fill-80 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

.svg-elem-80 {
    -webkit-animation: animate-svg-fill-80 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.67s both;
    animation: animate-svg-fill-80 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.67s both;
}

@-webkit-keyframes animate-svg-fill-81 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

@keyframes animate-svg-fill-81 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

.svg-elem-81 {
    -webkit-animation: animate-svg-fill-81 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.6999999999999997s both;
    animation: animate-svg-fill-81 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.6999999999999997s both;
}

@-webkit-keyframes animate-svg-fill-82 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

@keyframes animate-svg-fill-82 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

.svg-elem-82 {
    -webkit-animation: animate-svg-fill-82 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.7299999999999995s both;
    animation: animate-svg-fill-82 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.7299999999999995s both;
}

@-webkit-keyframes animate-svg-fill-83 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

@keyframes animate-svg-fill-83 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(255, 255, 255);
    }
}

.svg-elem-83 {
    -webkit-animation: animate-svg-fill-83 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.76s both;
    animation: animate-svg-fill-83 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.76s both;
}


#hamon,
#sizuku {
    transform-origin: 50% 88.28%;
}

#hamon {

    animation: hamon 1.4s linear
}


@keyframes hamon {

    from {

        transform: scale(0);
    }


    50% {

        transform: scale(0);
    }

}


#sizuku {

    animation: sizuku 1.4s linear
}


@keyframes sizuku {

    from {

        transform: translate(-80%, -100%) scale(1);
    }


    50% {

        transform: translate(0%, 0%) scale(1);
    }



    100% {

        transform: translate(0%, 0%) scale(0);
    }

}